/* Add your styles for the writing page here */
.write_container {
    width: 100%;
    margin: 70 auto;
    padding: 0px;
    
  }
  
  form {
    /* width;     */
    margin: 20 auto;
  }

  textarea {
    font-size: 21px; /* Adjust the font size as needed */
    width: 1200px; /* Adjust the width as desired */
    height: auto; /* Adjust the height as desired */
    resize: vertical; /* Allow vertical resizing */
    outline:none;
    border:none;
    margin: 20 auto;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  input[type="text"] {
    font-size: 30px; /* Adjust the font size as needed */
    width: 90%; /* Adjust the width as desired */
    padding: 0px; /* Adjust padding as needed */
    outline: none;
  }

  .styled-line {
    border: none;
    border-top: 2px solid #ccc; /* Adjust the color and thickness of the line */
    margin: 20px 0; /* Adjust margin as needed */
  }

  .category-btn {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Adding rounded edges */
    background-color: #f0f0f0; /* Default background color */
    color: #333; /* Default text color */
  }
  
  .category-btn.active {
    background-color: #007bff;
    color: #fff;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    gap: 10px; /* Add space between buttons */
  }
  .actions {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  .publish-btn,
  .draft-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top:100px;
  }
  
  .publish-btn {
    margin-top: 100px;
    background-color: #535455;
    color: #fff;
    margin-right: 10px; /* Add margin between buttons */
  }