/* Add your styles for the writing page here */
.write_container {
  width: 100%;
  margin: 70px auto; /* Corrected margin syntax */
  padding: 0px; 
}

form {
  margin: 20px auto;
}

textarea {
  font-size: 21px;
  width: 100%; /* Adjust the width to take up the entire container */
  height: auto;
  resize: vertical;
  outline: none;
  border: none;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  font-size: 30px;
  width: 90%;
  padding: 0px;
  outline: none;
}

.styled-line {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.category-btn {
  padding: 8px 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
}

.category-btn.active {
  background-color: #007bff;
  color: #fff;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.publish-btn,
.draft-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 100px;
}

.publish-btn {
  margin-top: 100px;
  background-color: #535455;
  color: #fff;
  margin-right: 10px;
}
