<html lang="en">
<head>
    <title>Walkithot | Post</title>
</head>
<body>
    {% extends "index.html" %}
    {% block content %}

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">About Walkithot Blog</h3>
                <div class="article-data">
                    <span>Dec 6th 2023</span>
                    <span class="article-data-spacer"></span>
                    
                </div>
                <img src="../static/images/featured/featured-1.jpg" alt="">
            </div>

            <div class="container">
                <p>Welcome to Walkithot, the pulsating heart of knowledge and community spirit in the ALX ecosystem. Born from the shared passion and camaraderie of three visionaries during their transformative journey at ALX, Walkithot is not just a blog; it's a testament to the power of collaboration and the thirst for continuous learning.

                </p>
                
                <p>Picture this: Three friends, immersed in the dynamic world of ALX, identified a gap in the learning experience—a gap filled with questions, uncertainties, and the need for a guiding light. With a spark of inspiration, Walkithot was born to be that guiding light. It's a vibrant tapestry woven with the threads of experience, challenges, victories, and the unquenchable thirst for knowledge.</p>

                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span> As ALX students, we understand the challenges that newcomers face—questions about assignments, the curriculum, and the vast world of technology. Walkithot becomes the virtual companion, offering insights, tips, and shared experiences to smoothen the learning curve for our fellow ALXians.<span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
            
                <p>But Walkithot is not confined to the walls of ALX. It extends its welcoming arms to all tech enthusiasts on a quest for knowledge. Our blog is a treasure trove where experiences are shared, mistakes are dissected, and victories are celebrated. It's a sanctuary for those navigating the ever-evolving landscape of technology.</p>

                <div class="author d-grid">
                    
                    <div class="author-about">
                        <h3 class="author-name">Oyebamiji Opeyemi, Kwabena Frimpong, Seyi Ogunmusire</h3>
                        <p>Join us in this journey of discovery, as Walkithot becomes more than a blog—it becomes a community, a mentor, and a friend. Together, let's unravel the mysteries of learning, one blog post at a time.</p>
                        <!-- <ul class="list social-media">
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

                <div class="author d-grid">
                    <!-- <div class="author-image-box">
                        <img src="../static/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">John Doe</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis repellat rerum, possimus cumque dolor repellendus eligendi atque explicabo exercitationem id.</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
</body>
</html>