<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Forgot password</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post" class="admin-form auth-form">
            <h1 class="center form=title">Request new password</h1>
            <div class="lead text">
                Enter the email address used to sign up on this website so we can assist you in resetting.
            </div>
            <div class="input-group">
                <input type="email" id="email" name="email"  placeholder="Email address">
            <br>
            
            <div class="input-group">
                <button type="submit" class="btn long-btn primary-btn big-btn">Send Reset link</button>
            </div>
        </form>
        
    </div>

    <script src="static/script.js"></script>
</body>
</html>
