<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walkithot | Write</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/writestyles.css">
    
</head>
<body>
    <!-- Header -->
    <header class="header" id="header">

        <nav class="navbar container">
            <a href="./index.html">
                <h2 class="logo">Walkithot</h2>
            </a>

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="./index.html" class="list-link current">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="./about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item">
                        <a href="https://github.com/KayFrimp/WalkiThot_v1" target="_blank" class="list-link">Github Repo</a>
                    </li>
                    <li class="list-item">
                        <a href="./write.html" class="list-link">Write</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="./login.html" class="list-link">Log in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="./signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <button class="btn place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </button>

                <button class="btn place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </button>

                <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </button>

                <a href="./login.html" class="list-link screen-sm-hidden">Log in</a>
                <a href="./signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>

        </nav>

    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">

        <div class="form-container-inner">

            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>

        </div>

        <button class="btn form-close-btn place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </button>

    </div>
    <div class="write_container">
        <h1>Write a Blog Post</h1>
        <form id="blogForm">
          <!-- <label for="title">Title:</label><br> -->
          <input type="text" id="title" placeholder= "Title" name="title"<br><br>
    
          <!-- <label for="content">Content:</label><br> -->
           <hr class="styled-line">
          <textarea id="content" name="content" placeholder="write your blog" rows="8" cols="50"></textarea><br><br>
    
          <!-- <input type="submit" value="Save Post"> -->
        </form>
      </div>
    <div class="categories">
        <button class="category-btn" data-category="technology">Technology</button>
        <button class="category-btn" data-category="travel">Programming</button>
        <button class="category-btn" data-category="food">Web Development</button>
        <button class="category-btn" data-category="technology">Mobile Development</button>
        <button class="category-btn" data-category="technology">Cloud Computing</button>
        <button class="category-btn" data-category="technology">AI&ML</button>
        <button class="category-btn" data-category="technology">Data Science</button>
        <button class="category-btn" data-category="technology">Cybersecurity</button>
        <button class="category-btn" data-category="technology">Internet of Things</button>
        <button class="category-btn" data-category="technology">Enterpreneurship</button>
        <button class="category-btn" data-category="technology">Tech News</button>
        <button class="category-btn" data-category="technology">OTHERS</button>
        <!-- Add more buttons with different categories -->
    </div>
    <div class="actions">
        <button class="publish-btn">Publish Post</button>
        <button class="draft-btn">Save as Draft</button>
      </div>

   

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="./index.html">
                    <h2 class="logo">Walkithot</h2>
                </a>
                <p class="company-description">Walkithot is a blog post specifically designed for ALX student however every tech enthusiast can find it useful.</p>
                
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2023 Walkithot. All rights reserved.</span>
            </div>

            <div>
                <h6 class="title footer-title">Categories</h6>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="#" class="list-link">AI&ML</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Trends</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Technology</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Enterpreneurship</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">IOT</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Data</a>
                    </li>
                </ul>

            </div>

            <div>
                <h6 class="title footer-title">Useful links</h6>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="./index.html" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="./about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Tags</a>
                    </li>
                    <li class="list-item">
                        <a href="https://github.com/KayFrimp/WalkiThot_v1" target="_blank" class="list-link">GithubRepo</a>
                    </li>
                </ul>

            </div>

            <!-- <div>
                <h6 class="title footer-title">Company</h6>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="#" class="list-link">Contact us</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">F.A.Q</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Careers</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Authors</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Memberships</a>
                    </li>
                </ul>

            </div> -->

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../static/script/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../static/script/main.js"></script>
</body>
</html>